@import url("https://fonts.googleapis.com/css?family=Lato");

html {
	box-sizing: border-box;
	min-height: 101%;
    position: relative;
 }

body {
	background-color: white;
}

* {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

p {
	margin-bottom: 1em;
}

#container {
	width: 100%;
}

header {
	background-color: #333;
	height: 75px;
}

h1 {
	color: white;
	padding: 15px;
	text-align: center;
}

#red {
	background-color: #ff3333;
	height: 225px;
	width: 100%;
}

#red p {
	color: white;
	font-size: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%); 
}

#blue {
	background-color: #3366ff;
	height: 1300px;
	width: 100%;
}

.box {
	overflow: hidden;
	border: 1px solid black;
	height: 300px;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
	top: 20px;
	width: 90%;
}

.box p {
	color: #ccc;
	font-size: 20px;
	padding: 50px;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%); 
}

#white {
	background-color: white;
	height: 700px;
	width: 100%;
}

#white p {
	font-size: 20px;
	margin-bottom: 0em;
	padding: 20px;
	padding-bottom: 0;
	text-align: center;
}

.white_list {
	height: 150px;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	top: 20px;
	width: 50%;
}

#white ul {
	list-style-type: none;
}

.list_heading {
	color: #222;
	font-size: 20px;
	padding: 10px;
}

#white a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
}

#white a:hover {
	text-decoration: underline;
}

footer {
	background-color: white;
	height: 100px;
	text-align: center;
}

footer a {
	color: #555;
}

footer a:visited {
	color: #555;
}

.copyright {
	font-size: 20px;
}

/* Tablet Styling */

@media (min-width: 768px) {
	header {
		height: 100px;
	}

	h1 {
		font-size: 40px;
		padding: 20px;
	}

	#red {
		height: 250px;
	}

	#red p {
		font-size: 24px;
		padding: 30px;
	}

	#blue {
		height: 700px;
	}

	.box {
		float: left;
		margin-left: 6.66%;
		margin-bottom: 33.33px;
		top: 33.33px;
		width: 40%;
	}

	.box p {
		font-size: 24px;
	}

	#white {
		height: 500px;
	}

	#white p {
		font-size: 24px;
		padding: 30px;
		padding-bottom: 0;
	}

	.white_list {
		float: left;
		text-align: center;
		top: 30px;
		width: 50%;
	}

	.list_heading {
		font-size: 24px;
		padding: 10px;
	}

	#white a {
		font-size: 20px;
	}

	.support_tablet {
		width: 100%;
	}

	.support_tablet .white_list {
		float: none;
		margin: auto;
		width: 50%;
	}

	footer {
		height: 125px;
	}

	.copyright {
		font-size: 24px;
	}
}


/*Desktop Styling*/


@media (min-width: 1025px) {
	header {
		height: 125px;
	}

	h1 {
		font-size: 48px;
		padding: 25px;
	}

	#red {
		height: 275px;
	}

	#blue {
		height: 400px;
	}

	.box {
		margin-left: 4%;
		margin-bottom: 0;
		top: 50px;
		width: 20%;
	}

	#white {
		height: 500px;
	}

	.white_list {
		float: left;
		top: 75px;
		width: 33.33%;
	}

	.support_tablet .white_list {
		float: left;
		width: 33.33%;
	}

	footer {
		height: 150px;
	}
}