html {
	box-sizing: border-box;
	min-height: 101%;
    position: relative;
 }

body {
	background-color: #b0b0b0;
}

* {
	font-family: "Lato", "Verdana", "Helvetica", sans-serif;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

header {
	background-color: #202020;
	width: 100%;
}

h1 {
	color: white;
	font-size: 32px;
	padding-top: 30px;
	padding-left: 28px;
}

h2 {
	color: #aaa;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 30px;
	padding-left: 30px;
}

nav ul {
	background: linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
	border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #8c8c8c;
	list-style-type: none;
	padding-left: 10px;
	width: 100%;
}

nav li {
	display: inline;
}

nav li a {
	color: #333;
	display: inline-block;
	font-size: 16px;
	padding: 12px 20px 12px 20px;
	text-decoration: none;
}

nav li a:hover {
	color: black;
}

hr {
	border-color: #2db92d;
	margin-left: auto;
	margin-right: auto;
	width: 94%;
}

#bottom {
	float: right;
	padding-bottom: 0px;
}

#main {
	background-color: white;
}

#main a {
	color: #0066cc;
	text-decoration: none;
}

#main a:hover {
	text-decoration: underline;
}

#main a:visited {
	color: #551A8B;
}

#rightside {
	display: none;
}

#leftside {
	background-color: white;
	width: 100%;
}

.content_box {
	margin: auto;
	padding: 10px;
	padding-top: 35px;
	padding-bottom: 40px;
	width: 96%;
}

.post_header {
	font-size: 24px;
	font-weight: bold;
}

.post_date {
	color: #141414;
	font-size: 16px;
}

.post {
	color: #202020;
	font-size: 16px;
}

footer ul {
	background: linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
	border-top: 1px solid #8c8c8c;
	list-style-type: none;
	padding-left: 10px;
}

footer li {
	display: inline;
}

footer li a, footer li p {
	color: #333;
	display: inline-block;
	font-size: 16px;
	padding: 12px 20px 12px 20px;
	text-decoration: none;
}

footer li a:hover {
	color: black;
}

#top {
	float: right;
	padding-bottom: 0px;
}


/* Tablet styling */


@media (min-width: 768px) {
	header {
		margin: auto;
	}

	h1 {
		font-size: 40px;
		padding-top: 30px;
		padding-left: 38px;
	}

	h2 {
		font-size: 24px;
		padding-top: 10px;
		padding-bottom: 50px;
		padding-left: 40px;
	}

	nav ul {
		margin: auto;
		padding-left: 20px;
	}

	#main {
		display: flex;
		margin: auto;
		min-height: 100vh;
		width: 100%;
	}

	#leftside {
		display: inline;
		float: left;
		width: 70%;
	}

	#rightside {
		display: inline;
		float: right;
		width: 30%;
	}

	.sidebar {
		border: 1px solid #8c8c8c;
		margin: auto;
		margin-top: 35px;
		padding: 15px;
		width: 86%;
	}

	.sidebar_header {
		font-size: 24px;
		font-weight: bold;
	}

	.sidebar ul {
		list-style-type: none;
		margin-top: 10px;
	}

	.sidebar ul li {
		padding: 3px;
	}
}


/* Desktop styling */


@media (min-width: 1025px) {
	body {
		background-color: #b7b7bb;
	}

	header {
		width: 60%;
	}

	h1 {
		padding-top: 40px;
		padding-left: 58px;
	}

	h2 {
		padding-bottom: 60px;
		padding-left: 60px;
	}

	nav ul {
		padding-left: 40px;
		width: 60%;
	}

	hr {
		width: 90%;
	}

	#bottom {
		display: none;
	}

	#main {
		width: 60%;
	}

	.content_box {
		width: 90%;
	}

	.sidebar {
		width: 90%;
	}

	footer {
		margin: auto;
		width: 60%;
	}

	#top {
		font-size: 20px;
	}
}